.sidebar, .topbar {
    -fx-background-color: #1E1F20;
}
.nav-button {
    -fx-background-color: transparent;
}
.logo-container {
    -fx-background-color: #f25f29;
}
.date-label {
    -fx-background-color: #2E3D60;
    -fx-background-radius: 15;
}
.nav-item {
    -fx-cursor: hand;
    -fx-padding: 10 20;
    -fx-background-radius: 0 25 25 0;
    -fx-transition: 0.3s;
}
.nav-item:hover {
    -fx-background-color: #333537;
}
.nav-item-selected {
    -fx-background-color: #2E3D60;
}
.logout-container {
    -fx-cursor: hand;
    -fx-padding: 10 20;
    -fx-background-radius: 25;
    -fx-transition: all 0.3s ease-in-out;
}
.logout-container:hover {
    -fx-background-color: rgba(255, 107, 107, 0.1);
}
